body {
          background-color: #FFE4E1;
          align:center;
          /*background-image: url("img_tree.gif");
          background-repeat: no-repeat;
          background-attachment: fixed;*/
}

#wrap {
          width:700px; 
          margin: 20px auto 20px auto;
          font-family:Verdana, Arial, Helvetica, sans-serif;
          font-size:12px;
          color:#FFFFFF;
}

#header {
          height:242px;
          background:url(https://github.com/tiinalaurila/tiinalaurila.github.io/blob/master/Images/header.png?raw=true) no-repeat left top;
          clear: both;
}

#topbar {
          height: 78px;
}

table {
          border-spacing: 5px;
          background-color:#ffcccc;
}

table, th, td {
          border:2px solid #C71585;
          color: #DB7093;
          padding: 15px;
}

th {
          text-align: left;
          font-weight: bold;
          font-color:#C71585;
          background-color:#ffe6f2;
}

td {
          text-align:center;
          background-color:#ffe6f2;
}

#topmenu {
          display:block;
          list-style:none;
          padding: 0 0px 0px 200px;
          float:right;
          width:535px;
          background-color:#FFB6C1;
          position:fixed;
}

#topmenu li {
          display:inline;
}

#topmenu a {
          display: block;
          float:left;
          height: 28px;
          margin: 0px 0px 0px 0px;
          text-decoration:none;
          padding: 9px 15px 0px 15px;
          text-align: center;
}

#topmenu a, #topmenu a:visited, #topmenu a:active {
          color:#FFFFFF;
}

#topmenu a:hover {
          color:#FFFFFF;
          background-color:#C71585;
}

#topmenu .active a, #topmenu .active a:visited, #topmenu .active a:active{
          color:#FFFFFF;
          background-color:#C71585;
}

#content {
          background-color:#FFFFFF;
}

#mainpage {
          width:700px;
          float:left;
          padding: 5px 5px 5px 0px;
          height:auto;
}

#mainpage p {
          line-height:22px;
          margin:10px 0px 22px 0px;
          text-align:justify;
}

#mainpage blockquote {
          background:#efefef;
          display:block;
          margin:5px;
          font: Helvetica, Arial ,Verdana, serif;
          font-style: italic;
}



h1, h2, h3, h4, h5 {
          font-weight:bold;
          font-family: Arial, Helvetica, Verdana;
}

#mainpage h1 {
          font-size:24px;
          padding-top:20px;
          padding-bottom:5px;
          border-bottom:1px solid #C71585;
          color:#C71585;
}

#mainpage h2 {
          font-size:22px;
          padding-top:10px;
          padding-bottom:2px;
          color:#C71585;
}

#mainpage h3 {
          font-size:20px;
          color:#C71585;
}

#mainpage h4 {
          font-size:17px;
          color:#C71585;
}

#mainpage h5 {
          font-size:15px;
          color:#C71585;
          font-weight:normal;
}

#footer {
          color:#C71585;
}

ol, ul {
          color:#DB7093;
}

hr {
          background-color:#C71585;
          height:1px;
          border:0px;
}

form {
          font-color:#C71585;
}

#drag {
          float: left;
          width: 55px;
          height: 55px;
          margin: 10px;
          padding: 12px;
          border: 2px dashed #C71585;
}
