body {
background:	#FF00FF url(images/bg.png) repeat-x;
}

#wrap {
  width:700px; 
  margin: 0px auto 15px auto;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:12px
  color:#666666;
}


#header {
  height:242px;
  margin: 0px auto 15px auto;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#A52A2A;
}

/*Header Menu*/
#topmenu {
  display:block;
  list-style:none;
  padding: 0 0px 278px;
  float:right;
  width:415px;
}
#topmenu li{
  display:inline;
}
topmenu a{
  display: block;
  float:left;
  height: 28px;
  margin: 0px 0px 0px 0px;
  text-decoration:none;
  padding: 9px 15px 0px 15px;
  text-align: center;
}
#topmenu a, #topmenu a:visited, #topmenu a:active{
  
}
